CARRILLO_CHAVES_FEDERICO/simulador/images_of_levels
CARRILLO_CHAVES_FEDERICO/simulador/game.ppm
practicas-da-64-1.6 (fix gcc4).tar.gz
CARRILLO_CHAVES_FEDERICO/p1/game.ppm
CARRILLO_CHAVES_FEDERICO/p1/p1.aux
CARRILLO_CHAVES_FEDERICO/p1/p1.fdb_latexmk
CARRILLO_CHAVES_FEDERICO/p1/p1.fls
CARRILLO_CHAVES_FEDERICO/p1/p1.log
CARRILLO_CHAVES_FEDERICO/p1/p1.synctex.gz
CARRILLO_CHAVES_FEDERICO/p1/game.ppm.png
CARRILLO_CHAVES_FEDERICO/p1/p1.fdb_latexmk
CARRILLO_CHAVES_FEDERICO/p1/p1.fls
CARRILLO_CHAVES_FEDERICO/cmake-build-debug/
CARRILLO_CHAVES_FEDERICO/p1/p1.fls
CARRILLO_CHAVES_FEDERICO/p1/p1.fdb_latexmk
CARRILLO_CHAVES_FEDERICO/CMakeLists.txt
CARRILLO_CHAVES_FEDERICO/.idea/
CARRILLO_CHAVES_FEDERICO/.vscode/
CARRILLO_CHAVES_FEDERICO/p1/p1.fdb_latexmk
CARRILLO_CHAVES_FEDERICO/p1/p1.fls
CARRILLO_CHAVES_FEDERICO/simulador/game.png
CARRILLO_CHAVES_FEDERICO/p1/1000_to_5000.txt
CARRILLO_CHAVES_FEDERICO/p1/1001_2000.txt
CARRILLO_CHAVES_FEDERICO/p1/__latexindent_temp.tex
CARRILLO_CHAVES_FEDERICO/p1/2001_3000.txt
CARRILLO_CHAVES_FEDERICO/p1/3001_4000.txt
CARRILLO_CHAVES_FEDERICO/p1/a.sh
CARRILLO_CHAVES_FEDERICO/p1/b.sh
CARRILLO_CHAVES_FEDERICO/p1/c.sh
CARRILLO_CHAVES_FEDERICO/p1/p1.fdb_latexmk
CARRILLO_CHAVES_FEDERICO/p1/p1.fls
CARRILLO_CHAVES_FEDERICO/simulador/script_prueba.sh
CARRILLO_CHAVES_FEDERICO/simulador/strategy.ppm
CARRILLO_CHAVES_FEDERICO/p1/strategy.ppm
CARRILLO_CHAVES_FEDERICO/p1/strategy.ppm.png
CARRILLO_CHAVES_FEDERICO/p1/p1.fdb_latexmk
CARRILLO_CHAVES_FEDERICO/simulador/script_prueba.sh
CARRILLO_CHAVES_FEDERICO/p2/game.ppm
CARRILLO_CHAVES_FEDERICO/p2/game.ppm.png
