CARRILLO_CHAVES_FEDERICO/simulador/images_of_levels
CARRILLO_CHAVES_FEDERICO/simulador/game.ppm
practicas-da-64-1.6 (fix gcc4).tar.gz
CARRILLO_CHAVES_FEDERICO/p1/game.ppm
CARRILLO_CHAVES_FEDERICO/p1/p1.aux
CARRILLO_CHAVES_FEDERICO/p1/p1.fdb_latexmk
CARRILLO_CHAVES_FEDERICO/p1/p1.fls
CARRILLO_CHAVES_FEDERICO/p1/p1.log
CARRILLO_CHAVES_FEDERICO/p1/p1.synctex.gz